.cancel_order_container{
    font-family: "Open Sans";
    box-sizing: border-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E5E0E0;
    border-radius: 8px;
    min-height: 220px;
    max-width: 420px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.alert_heading{
    background-color: #5861AE;
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}
.fa-xmark{
    font-size: 1rem;
}
.fa-xmark:hover{
    font-size: 1.2rem;
}
.alert_info{
    padding: 30px;
    display: grid;
    grid-template-columns: 1.5fr 8fr;
}
.alert_info div{
    display: flex;
    align-items: center;
}
.fa-triangle-exclamation{
    color: red;
    font-size: 2rem;
}
.alert_info_row2{
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.alert_info_row2 div{
    padding-bottom: 20px;
}
.alert_info_row2 button{
    background-color: #5861AE;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 10px 30px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.alert_info_row2 button:hover{
    font-size: 0.9rem;
}
